@import '../index.scss';

.contenedor-compra{
    padding: 15px;

    h1{
        font-size: 1.4rem;
        color: $color-1;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    &__total-prod{
        width: 180px;
        background-color: $color-2;
        color: $color-3;
        padding: 10px;
        text-align: center;
        font-weight: 800;
        font-size: 0.8rem;
        letter-spacing: 2px;
        border-radius: 20px;
        border: 2px solid $color-3;
    }

    @media screen and (min-width: 768px) {
        h1{
            font-size: 1.6rem;
        }
    }

    @media screen and (min-width: 992px) {
        &__total-prod{
            font-size: 1.3rem;
        }
    }

    @media screen and (min-width: 1200px) {
        &{
            max-width: 1100px;
            margin: 0 auto;
        }
        h1{
            font-size: 1.9rem;
        }
    }
}